name: Nightlies

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  x86-64-unknown-linux-nightly:
    name: Build and upload x86-64-unknown-linux-nightly to Cloudsmith
    runs-on: ubuntu-latest
    container:
      image: ponylang/shared-docker-ci-x86-64-unknown-linux-builder:release
    steps:
      - uses: actions/checkout@v1
      - name: Build and upload
        run: bash .ci-scripts/release/x86-64-unknown-linux-nightly.bash
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

  x86-64-apple-darwin-nightly:
    name: Build and upload x86-64-apple-darwin-nightly to Cloudsmith
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: install ponyc
        run: bash .ci-scripts/macOS-install-pony-tools.bash
      - name: brew install dependencies
        run: brew install coreutils
      - name: pip install dependencies
        run: pip3 install --upgrade cloudsmith-cli
      - name: Build and upload
        run: bash .ci-scripts/release/x86-64-apple-darwin-nightly.bash
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

  x86-64-pc-windows-msvc-nightly:
    name: Build and upload x86-64-pc-windows-msvc-nightly to Cloudsmith
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build and upload
        run: |
          python.exe -m pip install --upgrade cloudsmith-cli
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/releases/raw/versions/latest/ponyc-x86-64-pc-windows-msvc.zip -OutFile C:\ponyc.zip;
          Expand-Archive -Path C:\ponyc.zip -DestinationPath C:\ponyc;
          $env:PATH = 'C:\ponyc\bin;' + $env:PATH;
          .\make.ps1 -Command build;
          .\make.ps1 -Command install;
          .\make.ps1 -Command package;
          $version = (Get-Date).ToString("yyyyMMdd"); cloudsmith push raw --version $version --api-key $env:CLOUDSMITH_API_KEY --summary "Pony dependency manager tool" --description "https://github.com/ponylang/corral" ponylang/nightlies build\corral-x86-64-pc-windows-msvc.zip
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
